.orange {
    background-color: orange;
}

.royalblue {
    background-color: royalblue;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.olive {
    background-color: olive;
}

.bold {
    font-weight: bold;
}